---
import type { CollectionEntry } from "astro:content";
import "../styles/global.css";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const paintings = await getCollection('paintings');
  return paintings.map(post => {
    return {
      params: {
        slug: post.data.slug
      },
      props: {
        post
      }
    }
  });
}

type Props = {
  post: CollectionEntry<"paintings">;
}

const { post } = Astro.props;
console.log("POSTTTTTTTTTTTTTT",post)
const { Content } = await post.render();
---

<h1>{post.data.title}</h1>

<article>
  <Content />
</article>