---
import type { CollectionEntry } from "astro:content";
import "../styles/global.css";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const paintings = await getCollection("paintings");
  return paintings.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"paintings">;
};

const { post } = Astro.props;
---

<div class="bg-primary py-10 text-tertiary min-h-screen">
  <article class="w-10/12 mx-auto">
    <div class="flex justify-center">
      <div class="relative text-secondary">
        <img class="w-11/12 h-10/12" src=`${post.data.image}` alt="" />
        <span
          class="absolute -top-4 -rotate-18 text-3xl lg:text-4xl font-apple w-sm -left-10"
          >Art Analysis</span
        >
      </div>

      <div class="writing-vertical">
        <h1 class="font-extrabold font-roboto text-4xl lg:text-6xl">
          {post.data.artist}
        </h1>
        <h1 class="font-bold font-roboto text-3xl lg:text-5xl">
          {post.data.title}
        </h1>
      </div>
    </div>
    <h1>{post.data.date.toDateString()}</h1>
  </article>
</div>
