---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---
<div class="bg-primary text-accent">
  
  <div class="relative lg:flex lg:gap-32 p-10 w-10/12 mx-auto items-center justify-center h-screen">
    <img 
      class="h-11/12 w-auto mx-auto lg:translate-y-14 opacity-0 animate-[fadeInDown_0.6s_ease-out_0.1s_forwards]" 
      src="/banner4.jpg" 
      alt="" 
    />
    <img 
      class="hidden lg:block h-11/12 w-auto mx-auto opacity-0 animate-[fadeInDown_0.6s_ease-out_0.2s_forwards]" 
      src="/banner1.jpg" 
      alt="" 
    />
    <img 
      class="hidden lg:block h-11/12 w-auto mx-auto -translate-y-14 opacity-0 animate-[fadeInDown_0.6s_ease-out_0.4s_forwards]" 
      src="/banner3.jpg" 
      alt="" 
    />  
      <div class="absolute">
    <h1 class="font-apple opacity-0 animate-[fadeInDown_1.3s_ease-out_1.2s_forwards] text-5xl lg:text-8xl">Art Analysis</h1>
    <h2 class="font-apple opacity-0 animate-[fadeInDown_1.3s_ease-out_1.4s_forwards] text-xl lg:text-3xl">by Afra Anjum</h2>
  </div>

   <div class="bottom-10 right-10 font-apple absolute">
    <a href="index" class="text-5xl">{"->"}</a>
  </div>

 
  </div>



</div>