---
import "../../styles/global.css";
import { getCollection } from "astro:content";

const paintings = await getCollection("paintings");
---

<div class="bg-primary text-tertiary font-kite py-10 min-h-screen">
  <div class="w-10/12 mx-auto">
    <h1 class="font-bold text-3xl py-2">Index</h1>
    {
      paintings.map((post) => (
        <p>
          <a class="" href={`/${post.data.slug}`}>
            {post.data.title} - <b>{post.data.artist}</b>
          </a>
        </p>
      ))
    }
  </div>
</div>